@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@100..900&family=Ubuntu:wght@400;500;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media (max-width: 370px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 310px) {
  html {
    font-size: 45%;
  }
}

body {
  font-family: "Overpass", serif;
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: 0.06rem;
  line-height: 175%;
}

.container {
  width: 100%;
  max-width: 111.2rem;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0s !important;
    transition-duration: 0s !important;
  }
}
.hero {
  background-color: hsl(356, 100%, 66%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 0 10rem;
  background-image: url(/images/bg-pattern-intro-desktop.svg), linear-gradient(to right bottom, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  background-position-x: calc(50% + 42rem), 0;
  background-position-y: calc(50% - 7rem), 0;
  margin-bottom: 7.1rem;
  padding: 0 4rem;
}
@media (max-width: 1170px) {
  .hero {
    margin-bottom: 0;
  }
}
@media (max-width: 612px) {
  .hero {
    padding: 0 1.6rem;
  }
}

.nav {
  display: flex;
  align-items: center;
  margin-top: 5.9rem;
  gap: 6.4rem;
  margin-bottom: 12rem;
}
@media (max-width: 1170px) {
  .nav {
    margin-bottom: 11.2rem;
  }
}
@media (max-width: 612px) {
  .nav {
    margin-top: 5.6rem;
    margin-bottom: 9.6rem;
  }
}
.nav__logo {
  width: 10.062rem;
  display: flex;
}
.nav__logo img {
  width: 100%;
}
@media (max-width: 1170px) {
  .nav__logo {
    width: 8.166rem;
  }
}
.nav__menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 3.2rem;
  font-family: "Ubuntu", serif;
  font-weight: 600;
  font-size: 1.6rem;
  letter-spacing: 0;
  line-height: 115%;
  color: hsl(0, 100%, 100%);
}
.nav__menu input {
  display: none;
}
@media (max-width: 1170px) {
  .nav__menu {
    display: none;
  }
}
.nav__item-label {
  text-decoration: none;
  color: hsl(0, 100%, 100%);
  display: flex;
  align-items: center;
  gap: 0.8rem;
  cursor: pointer;
  opacity: 0.9;
}
.nav__item-label img {
  width: 1rem;
  transition: transform 0.3s;
}
.nav__item-label:hover {
  opacity: 1;
}
.nav__menu > li {
  position: relative;
}
.nav__submenu {
  display: block;
  background-color: hsl(0, 100%, 100%);
  padding: 2.4rem;
  list-style: none;
  min-width: 16.8rem;
  border-radius: 0.5rem;
  box-shadow: 0 1rem 4rem 0 rgba(0, 0, 0, 0.05);
  opacity: 0;
  position: absolute;
  top: 3.5rem;
  transform: translateY(-40rem);
  transition-property: transform, opacity;
  transition-duration: 0.3s, 0.2s;
  transition-delay: 0s, 0s;
  transition-timing-function: ease-in;
}
.nav__submenu a {
  text-decoration: none;
  font-family: "Ubuntu", serif;
  font-weight: 300;
  font-size: 1.6rem;
  letter-spacing: 0;
  line-height: 200%;
  color: hsl(237, 17%, 21%);
  transition: font-weight 0.1s ease;
}
.nav__submenu a:hover {
  font-family: "Ubuntu", serif;
  font-weight: 600;
  font-size: 1.6rem;
  letter-spacing: 0;
  line-height: 115%;
  line-height: 200%;
}
li:has(input:checked) .nav__submenu {
  opacity: 1;
  transform: translateY(0);
  transition-property: transform, opacity;
  transition-duration: 0.3s, 0.2s;
  transition-delay: 0s, 0.1s;
  transition-timing-function: ease-out;
}
.nav__submenu--1 {
  left: -9rem;
}
.nav__submenu--2 {
  left: -4rem;
}
.nav__submenu--3 {
  left: 0;
}
.nav__auth {
  display: flex;
  align-items: center;
  gap: 3.2rem;
  margin-left: auto;
}
@media (max-width: 1170px) {
  .nav__auth {
    display: none;
  }
}
.nav li:has(input:checked) label > img {
  transform: rotate(180deg);
}
.nav__burguer {
  background-color: transparent;
  border: none;
  margin-left: auto;
  display: none;
  cursor: pointer;
}
@media (max-width: 1170px) {
  .nav__burguer {
    display: flex;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: hsl(0, 100%, 100%);
  margin-bottom: 15.6rem;
}
.header__heading {
  font-family: "Overpass", serif;
  font-weight: 500;
  font-size: 6.4rem;
  letter-spacing: -0.2rem;
  line-height: 100%;
  margin-bottom: 3.2rem;
}
@media (max-width: 612px) {
  .header__heading {
    font-family: "Overpass", serif;
    font-weight: 500;
    font-size: 4rem;
    letter-spacing: -0.12rem;
    line-height: 125%;
    margin-bottom: 2.4rem;
  }
}
.header__heading br {
  display: none;
}
@media (max-width: 1170px) {
  .header__heading br {
    display: initial;
  }
}
.header__subheading {
  font-family: "Overpass", serif;
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 0;
  line-height: 125%;
  margin-bottom: 4.8rem;
}
@media (max-width: 612px) {
  .header__subheading {
    margin-bottom: 4rem;
  }
}
.header__links {
  display: flex;
  gap: 1.6rem;
}
@media (max-width: 1170px) {
  .header {
    margin-bottom: 13.5rem;
  }
}
@media (max-width: 612px) {
  .header {
    margin-bottom: 15.4rem;
  }
}

.future {
  display: flex;
  justify-content: center;
  background-image: url(/images/illustration-editor-desktop.svg);
  background-repeat: no-repeat;
  background-position-x: calc(50% + 51rem);
  background-size: contain;
  padding-top: 8rem;
  padding-bottom: 21.9rem;
  padding-left: 4rem;
  padding-right: 4rem;
}
@media (max-width: 1170px) {
  .future {
    background-image: url(/images/illustration-editor-mobile.svg);
    background-size: 68.956rem;
    background-position-x: center;
    background-position-y: 13rem;
  }
}
@media (max-width: 612px) {
  .future {
    background-size: 32.6rem;
    background-position-y: 15rem;
  }
}
.future__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 4.5rem;
}
@media (max-width: 1170px) {
  .future__container {
    grid-template-columns: 1fr;
  }
}
.future__heading {
  grid-column: 1/-1;
  font-family: "Overpass", serif;
  font-weight: 500;
  font-size: 4rem;
  letter-spacing: -0.12rem;
  line-height: 125%;
  color: hsl(208, 49%, 24%);
  text-align: center;
  margin-bottom: 8.9rem;
}
@media (max-width: 1170px) {
  .future__heading {
    margin-bottom: 58rem;
  }
}
@media (max-width: 612px) {
  .future__heading {
    font-family: "Overpass", serif;
    font-weight: 500;
    font-size: 2.8rem;
    letter-spacing: 0;
    line-height: 100%;
    margin-bottom: 34rem;
  }
}
.future .article {
  grid-column: 1/2;
}
.future .article:not(:last-child) {
  margin-bottom: 6.4rem;
}
@media (max-width: 612px) {
  .future .article:not(:last-child) {
    margin-bottom: 5.6rem;
  }
}
@media (max-width: 1170px) {
  .future .article {
    text-align: center;
    justify-self: center;
    max-width: 54rem;
  }
}

.infrastructure {
  height: 40rem;
  background-image: url(/images/bg-pattern-circles.svg), linear-gradient(to right, hsl(237, 17%, 21%), hsl(237, 23%, 31%));
  background-repeat: no-repeat;
  background-position-x: calc(50% - 47rem), 0;
  background-position-y: -53rem, 0;
  color: hsl(0, 100%, 100%);
  border-radius: 0 10rem 0 10rem;
  display: flex;
  justify-content: center;
  margin-top: 4.95rem;
  margin-bottom: 11.55rem;
}
@media (max-width: 1170px) {
  .infrastructure {
    margin-top: 0;
    background-position-x: center, 0;
    background-position-y: -26rem, 0;
    background-size: 52rem, auto;
    margin-bottom: 8.2rem;
  }
}
@media (max-width: 612px) {
  .infrastructure {
    height: 60rem;
    margin-bottom: 7.9rem;
  }
}
.infrastructure__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1170px) {
  .infrastructure__container {
    flex-direction: column;
  }
}
.infrastructure__image {
  display: flex;
  height: 57rem;
  width: 54.2rem;
  flex-shrink: 0;
  margin-top: 2.3rem;
  margin-left: -4rem;
}
.infrastructure__image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
@media (max-width: 1170px) {
  .infrastructure__image {
    height: 34.65rem;
    width: 32.7rem;
    margin-left: 0;
    margin-top: -15.7rem;
  }
}
.infrastructure__article {
  max-width: 54rem;
}
@media (max-width: 1170px) {
  .infrastructure__article {
    text-align: center;
    margin-bottom: 5.55rem;
  }
}
@media (max-width: 612px) {
  .infrastructure__article {
    max-width: 32.7rem;
    padding-bottom: 4rem;
  }
}
.infrastructure__heading {
  font-family: "Overpass", serif;
  font-weight: 500;
  font-size: 4rem;
  letter-spacing: -0.12rem;
  line-height: 125%;
  margin-bottom: 1.6rem;
}
.infrastructure__text {
  font-family: "Overpass", serif;
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: 0.06rem;
  line-height: 175%;
}

.features {
  height: 78.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/images/illustration-laptop-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: calc(50% - 50rem);
  margin-bottom: 12.3rem;
}
@media (max-width: 1170px) {
  .features {
    height: unset;
    background-image: url(/images/illustration-laptop-mobile.svg);
    background-size: 69.9rem;
    background-position-x: center;
    background-position-y: top;
    padding-top: 50rem;
    margin-bottom: 8rem;
  }
}
@media (max-width: 612px) {
  .features {
    background-size: 32.8rem;
    padding-top: 26rem;
    margin-bottom: 10.8rem;
  }
}
.features__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 6.4rem;
}
@media (max-width: 1170px) {
  .features__content {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 612px) {
  .features__content {
    row-gap: 5.6rem;
  }
}
.features .article {
  grid-column: 2/3;
}
@media (max-width: 1170px) {
  .features .article {
    grid-column: 1/2;
    max-width: 54rem;
    text-align: center;
    justify-self: center;
  }
}
@media (max-width: 612px) {
  .features .article {
    max-width: 31.8rem;
  }
}

.footer {
  background-color: hsl(240, 10%, 16%);
  border-radius: 0 10rem 0 0;
  display: flex;
  justify-content: center;
  padding: 7.2rem 4rem;
  color: hsl(0, 100%, 100%);
}
.footer__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 3.2rem;
}
@media (max-width: 612px) {
  .footer__content {
    grid-template-columns: 1fr;
    text-align: center;
    row-gap: 4.8rem;
  }
}
.footer__logo {
  display: flex;
  width: 10.062rem;
  height: 3.943rem;
}
@media (max-width: 612px) {
  .footer__logo {
    justify-self: center;
    margin-bottom: 2.4rem;
  }
}
.footer__logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.footer__menu-section h4 {
  font-family: "Ubuntu", serif;
  font-weight: 600;
  font-size: 1.6rem;
  letter-spacing: 0;
  line-height: 115%;
  margin-bottom: 3.2rem;
}
.footer__menu-section ul {
  list-style: none;
}
.footer__menu-section ul a {
  font-family: "Ubuntu", serif;
  font-weight: 300;
  font-size: 1.6rem;
  letter-spacing: 0;
  line-height: 200%;
  text-decoration: none;
  color: inherit;
  opacity: 0.75;
}
.footer__menu-section ul a:hover {
  text-decoration: underline;
}

.menu {
  position: absolute;
  top: 12.5rem;
  left: 50%;
  width: calc(100% - 8rem);
  background-color: hsl(0, 100%, 100%);
  border-radius: 0.5rem;
  padding: 3.2rem 2.4rem 8.5rem 2.4rem;
  opacity: 0;
  box-shadow: 0 1rem 4rem 0 rgba(0, 0, 0, 0.05);
  transform: translate(-50%, -40rem);
  transition-property: transform, opacity;
  transition-duration: 0.3s, 0.2s;
  transition-delay: 0s, 0s;
  transition-timing-function: ease-in;
}
.menu__links {
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu__links li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.menu__links input {
  display: none;
}
.menu__links label {
  font-family: "Ubuntu", serif;
  font-weight: 600;
  font-size: 1.6rem;
  letter-spacing: 0;
  line-height: 115%;
  color: hsl(208, 49%, 24%);
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin: 1.6rem auto;
}
.menu__links label img {
  width: 1rem;
  transition: transform 0.3s;
}
.menu__submenu {
  list-style: none;
  background-color: hsl(0, 0%, 91%);
  transform: scaleY(0);
  opacity: 0;
  height: 0;
  width: 100%;
  border-radius: 0.5rem;
  transition-duration: 0s;
  transform-origin: top;
}
li:has(input:checked) .menu__submenu {
  padding: 1.9rem;
  transform: none;
  height: auto;
  opacity: 1;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
li:has(input:checked) .menu__submenu a {
  font-family: "Ubuntu", serif;
  font-weight: 300;
  font-size: 1.6rem;
  letter-spacing: 0;
  line-height: 200%;
  text-decoration: none;
  color: hsl(208, 49%, 24%);
  margin-bottom: 0.8rem;
}
li:has(input:checked) .menu__submenu a:last-child {
  margin-bottom: 0;
}
.menu li:has(input:checked) label > img {
  transform: rotate(180deg);
}
.menu__auth {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5.6rem;
  margin-top: 2.5rem;
}
.menu__auth .btn--text {
  color: hsl(208, 49%, 24%);
}

.backdrop {
  display: none;
  background-color: rgba(0, 0, 0, 0.05);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

@media (max-width: 1170px) {
  body:has(#menu:target) .menu {
    display: block;
    opacity: 1;
    transform: translate(-50%, 0);
    transition-property: transform, opacity;
    transition-duration: 0.3s, 0.2s;
    transition-delay: 0s, 0.1s;
    transition-timing-function: ease-out;
  }
  body:has(#menu:target) .backdrop {
    display: block;
    opacity: 1;
  }
}
.btn {
  text-decoration: none;
  font-family: "Ubuntu", serif;
  font-weight: 600;
  font-size: 1.6rem;
  letter-spacing: 0;
  line-height: 115%;
  text-align: center;
  transition: all 0.3s ease;
}
.btn--text {
  color: hsl(0, 100%, 100%);
}
.btn--text:hover {
  opacity: 0.75;
}
.btn--primary {
  background-color: hsl(0, 100%, 100%);
  padding: 1.5rem 0;
  color: hsl(356, 100%, 66%);
  border-radius: 99rem;
  width: 13.7rem;
}
.btn--primary:hover {
  color: hsl(0, 100%, 100%);
  background-color: hsl(355, 100%, 74%);
}
.btn--secondary {
  padding: 1.5rem 0;
  color: hsl(0, 100%, 100%);
  border-radius: 99rem;
  border: 0.1rem solid hsl(0, 100%, 100%);
  width: 13.7rem;
}
.btn--secondary:hover {
  color: hsl(356, 100%, 66%);
  background-color: hsl(0, 100%, 100%);
}
.btn--tertiary {
  padding: 1.5rem 0;
  color: hsl(0, 100%, 100%);
  border-radius: 99rem;
  border: none;
  width: 13.7rem;
  background-image: linear-gradient(to right bottom, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
}

.article__heading {
  font-family: "Overpass", serif;
  font-weight: 500;
  font-size: 2.8rem;
  letter-spacing: 0;
  line-height: 100%;
  color: hsl(208, 49%, 24%);
  margin-bottom: 1.6rem;
}
.article__text {
  font-family: "Overpass", serif;
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: 0.06rem;
  line-height: 175%;
  color: hsl(207, 13%, 34%);
}

.burguer {
  width: 3.2rem;
  fill: hsl(0, 100%, 100%);
}
.burguer > .line {
  transition: y 0.15s ease-in 0.15s, rotate 0.15s ease-in, opacity 0s 0.15s;
  transform-origin: center;
}
body:has(#menu:target) .burguer > .line {
  transition: y 0.15s ease-in, rotate 0.15s ease-in 0.15s, opacity 0s 0.15s;
}
body:has(#menu:target) .burguer > .top, body:has(#menu:target) .burguer > .bottom {
  y: 45;
}
body:has(#menu:target) .burguer > .top {
  rotate: 45deg;
}
body:has(#menu:target) .burguer > .middle {
  opacity: 0;
}
body:has(#menu:target) .burguer > .bottom {
  rotate: -45deg;
}

/*# sourceMappingURL=style.css.map */
