@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@100..900&family=Ubuntu:wght@400;500;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Overpass", serif;
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: 0.06rem;
  line-height: 175%;
}

.container {
  width: 100%;
  max-width: 111.2rem;
}

.hero {
  background-color: hsl(356, 100%, 66%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 0 10rem;
  background-image: url(/images/bg-pattern-intro-desktop.svg), linear-gradient(to right bottom, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  background-position-x: calc(50% + 42rem), 0;
  background-position-y: calc(50% - 7rem), 0;
  margin-bottom: 7.1rem;
}

.nav {
  display: flex;
  align-items: center;
  margin-top: 5.9rem;
  gap: 6.4rem;
  margin-bottom: 12rem;
}
.nav__logo {
  width: 10.062rem;
  display: flex;
}
.nav__menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 3.2rem;
  font-family: "Ubuntu", serif;
  font-weight: 600;
  font-size: 1.6rem;
  letter-spacing: 0;
  line-height: 115%;
  color: hsl(0, 100%, 100%);
}
.nav__menu input {
  display: none;
}
.nav__item-label {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  cursor: pointer;
}
.nav__item-label img {
  width: 0.8rem;
  transition: transform 0.3s;
}
.nav__submenu {
  display: none;
}
.nav__auth {
  margin-left: auto;
}
.nav li:has(input:checked) label > img {
  transform: rotate(180deg);
}
.nav__auth {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: hsl(0, 100%, 100%);
  margin-bottom: 15.6rem;
}
.header__heading {
  font-family: "Overpass", serif;
  font-weight: 500;
  font-size: 6.4rem;
  letter-spacing: -0.2rem;
  line-height: 100%;
  margin-bottom: 3.2rem;
}
.header__subheading {
  font-family: "Overpass", serif;
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 0;
  line-height: 125%;
  margin-bottom: 4.8rem;
}
.header__links {
  display: flex;
  gap: 1.6rem;
}

.future {
  display: flex;
  justify-content: center;
  background-image: url(/images/illustration-editor-desktop.svg);
  background-repeat: no-repeat;
  background-position-x: calc(50% + 51rem);
  background-size: contain;
  padding-top: 8rem;
  padding-bottom: 21.9rem;
}
.future__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 4.5rem;
}
.future__heading {
  grid-column: 1/-1;
  font-family: "Overpass", serif;
  font-weight: 500;
  font-size: 4rem;
  letter-spacing: -0.12rem;
  line-height: 125%;
  color: hsl(208, 49%, 24%);
  text-align: center;
  margin-bottom: 8.9rem;
}
.future .article {
  grid-column: 1/2;
}
.future .article:not(:last-child) {
  margin-bottom: 6.4rem;
}

.infrastructure {
  height: 40rem;
  background-image: url(/images/bg-pattern-circles.svg), linear-gradient(to right, hsl(237, 17%, 21%), hsl(237, 23%, 31%));
  background-repeat: no-repeat;
  background-position-x: calc(50% - 47rem), 0;
  background-position-y: -53rem, 0;
  color: hsl(0, 100%, 100%);
  border-radius: 0 10rem 0 10rem;
  display: flex;
  justify-content: center;
  margin-top: 4.95rem;
  margin-bottom: 11.55rem;
}
.infrastructure__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.infrastructure__image {
  display: flex;
  height: 57rem;
  width: 54.2rem;
  flex-shrink: 0;
  margin-bottom: -2.7rem;
  margin-left: -4rem;
}
.infrastructure__image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.infrastructure__article {
  max-width: 54rem;
}
.infrastructure__heading {
  font-family: "Overpass", serif;
  font-weight: 500;
  font-size: 4rem;
  letter-spacing: -0.12rem;
  line-height: 125%;
  margin-bottom: 1.6rem;
}
.infrastructure__text {
  font-family: "Overpass", serif;
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: 0.06rem;
  line-height: 175%;
}

.features {
  height: 78.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/images/illustration-laptop-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: calc(50% - 50rem);
  margin-bottom: 12.3rem;
}
.features__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 6.4rem;
}
.features .article {
  grid-column: 2/3;
}

.footer {
  background-color: hsl(240, 10%, 16%);
  border-radius: 0 10rem 0 0;
  display: flex;
  justify-content: center;
  padding: 7.2rem 0;
  color: hsl(0, 100%, 100%);
}
.footer__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 3.2rem;
}
.footer__logo {
  display: flex;
  width: 10.062rem;
  height: 3.943rem;
}
.footer__logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.footer__menu-section h4 {
  font-family: "Ubuntu", serif;
  font-weight: 600;
  font-size: 1.6rem;
  letter-spacing: 0;
  line-height: 115%;
  margin-bottom: 3.2rem;
}
.footer__menu-section ul {
  list-style: none;
}
.footer__menu-section ul a {
  font-family: "Ubuntu", serif;
  font-weight: 300;
  font-size: 1.6rem;
  letter-spacing: 0;
  line-height: 115%;
  text-decoration: none;
  color: inherit;
  opacity: 0.75;
}

.btn {
  text-decoration: none;
  font-family: "Ubuntu", serif;
  font-weight: 600;
  font-size: 1.6rem;
  letter-spacing: 0;
  line-height: 115%;
  text-align: center;
}
.btn--text {
  color: hsl(0, 100%, 100%);
}
.btn--primary {
  background-color: hsl(0, 100%, 100%);
  padding: 1.5rem 0;
  color: hsl(356, 100%, 66%);
  border-radius: 99rem;
  width: 13.7rem;
}
.btn--secondary {
  padding: 1.5rem 0;
  color: hsl(0, 100%, 100%);
  border-radius: 99rem;
  border: 0.1rem solid hsl(0, 100%, 100%);
  width: 13.7rem;
}

.article__heading {
  font-family: "Overpass", serif;
  font-weight: 500;
  font-size: 2.8rem;
  letter-spacing: 0;
  line-height: 100%;
  color: hsl(208, 49%, 24%);
  margin-bottom: 1.6rem;
}
.article__text {
  font-family: "Overpass", serif;
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: 0.06rem;
  line-height: 175%;
  color: hsl(207, 13%, 34%);
}

/*# sourceMappingURL=style.css.map */
