@use "../base/colors" as c;
@use "../base/typography" as t;

.features {
  height: 78.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/images/illustration-laptop-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: calc(50% - 50rem);
  margin-bottom: 12.3rem;

  @media (max-width: t.$Tablet) {
    height: unset;
    background-image: url(/images/illustration-laptop-mobile.svg);
    background-size: 69.9rem;
    background-position-x: center;
    background-position-y: top;
    padding-top: 50rem;
    margin-bottom: 8rem;
  }

  @media (max-width: t.$Mobile) {
    background-size: 32.8rem;
    padding-top: 26rem;
    margin-bottom: 10.8rem;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 6.4rem;

    @media (max-width: t.$Tablet) {
      grid-template-columns: 1fr;
    }

    @media (max-width: t.$Mobile) {
      row-gap: 5.6rem;
    }
  }

  .article {
    grid-column: 2/3;

    @media (max-width: t.$Tablet) {
      grid-column: 1/2;
      max-width: 54rem;
      text-align: center;
      justify-self: center;
    }

    @media (max-width: t.$Mobile) {
      max-width: 31.8rem;
    }
  }
}
