@use "../base/colors" as c;
@use "../base/typography" as t;

.infrastructure {
  height: 40rem;
  background-image: url(/images/bg-pattern-circles.svg),
    linear-gradient(to right, c.$Purple-950, c.$Purple-900);
  background-repeat: no-repeat;
  background-position-x: calc(50% - 47rem), 0;
  background-position-y: -53rem, 0;
  color: c.$White;

  border-radius: 0 10rem 0 10rem;
  display: flex;
  justify-content: center;
  margin-top: 4.95rem;
  margin-bottom: calc(4.95rem + 6.6rem);

  @media (max-width: t.$Tablet) {
    margin-top: 0;
    background-position-x: center, 0;
    background-position-y: -26rem, 0;
    background-size: 52rem, auto;
    margin-bottom: 8.2rem;
  }

  @media (max-width: t.$Mobile) {
    height: 60rem;
    margin-bottom: 7.9rem;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: t.$Tablet) {
      flex-direction: column;
    }
  }

  &__image {
    display: flex;
    height: 57rem;
    width: 54.2rem;
    flex-shrink: 0;
    margin-top: 2.3rem;
    margin-left: -4rem;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }

    @media (max-width: t.$Tablet) {
      height: 34.65rem;
      width: 32.7rem;
      margin-left: 0;
      margin-top: -15.7rem;
    }
  }

  &__article {
    max-width: 54rem;

    @media (max-width: t.$Tablet) {
      text-align: center;
      margin-bottom: 5.55rem;
    }

    @media (max-width: t.$Mobile) {
      max-width: 32.7rem;
      padding-bottom: 4rem;
    }
  }

  &__heading {
    @include t.text-2;
    margin-bottom: 1.6rem;
  }

  &__text {
    @include t.text-5;
  }
}
