@use "../base/colors" as c;
@use "../base/typography" as t;

.btn {
  text-decoration: none;
  @include t.text-6-bold;
  text-align: center;

  &--text {
    color: c.$White;
  }

  &--primary {
    background-color: c.$White;
    padding: 1.5rem 0;
    color: c.$Red-500;
    border-radius: 99rem;
    width: 13.7rem;
  }

  &--secondary {
    padding: 1.5rem 0;
    color: c.$White;
    border-radius: 99rem;
    border: 0.1rem solid c.$White;
    width: 13.7rem;
  }
}
