@use "../base/colors" as c;

.burguer {
  width: 3.2rem;
  fill: c.$White;

  & > .line {
    transition: y 0.15s ease-in 0.15s, rotate 0.15s ease-in, opacity 0s 0.15s;
    transform-origin: center;
  }

  body:has(#menu:target) & > .line {
    transition: y 0.15s ease-in, rotate 0.15s ease-in 0.15s, opacity 0s 0.15s;
  }

  body:has(#menu:target) & > .top,
  body:has(#menu:target) & > .bottom {
    y: 45;
  }

  body:has(#menu:target) & > .top {
    rotate: 45deg;
  }

  body:has(#menu:target) & > .middle {
    opacity: 0;
  }

  body:has(#menu:target) & > .bottom {
    rotate: -45deg;
  }
}
